:root {
  --color-Primary: #eb2f64;
  --color-Primary-light: #ff3366;
  --color-Primary-dark: #ba265d;
  --color-Grey-ligh-1: #faf9f9;
  --color-Grey-ligh-2: #f4f2f2;
  --color-Grey-ligh-3: #f0eeee;
  --color-Grey-ligh-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-weight: 400; }

:root {
  --color-Primary: #eb2f64;
  --color-Primary-light: #ff3366;
  --color-Primary-dark: #ba265d;
  --color-Grey-ligh-1: #faf9f9;
  --color-Grey-ligh-2: #f4f2f2;
  --color-Grey-ligh-3: #f0eeee;
  --color-Grey-ligh-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999; }

body {
  background-image: linear-gradient(to right bottom, var(--color-Primary), var(--color-Primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-Grey-dark-2);
  min-height: 100vh; }
