:root {
  --line: 1px solid var(--color-grey-light-2);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.03);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}


$bp-x-smallest: 25em; //400px
$bp-smallest: 31.25em; //500px
$bp-small: 37.5em; //600px
$bp-medium: 56.25em; //900px
$bp-large: 68.75em; //1100px
$bp-largest: 75em; //1200px
