.details {
  display: flex;
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  margin-right: 4.5rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
