.details {
  display: flex;
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  @include respond(bp-medium) {
    padding: 3rem;
  }

  @include respond(bp-small) {
    flex-direction: column;
  }
}

.description {
  margin-right: 4.5rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;

  @include respond(bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @include respond(bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
