.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1.5rem 3rem;

    @include respond(bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }

    @include respond(bp-x-smallest) {
      font-size: 1.5rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  &__location-icon {
    margin-right: 0.5rem;
  }

  &__icon-location,
  &__icon-star {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);

    @include respond(bp-x-smallest) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-primary);
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;

    @include respond(bp-small) {
      padding: 0 1.5rem;
    }

    &-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;

      @include respond(bp-small) {
        font-size: 1.8rem;
      }
    }

    &-count {
      font-size: 0.8rem;
      text-transform: uppercase;

      @include respond(bp-small) {
        font-size: 0.7rem;
      }
    }
  }
}
