.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-bottom: var(--line);
  border-top: var(--line);

  &__item {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    display: inline-block;
    content: '';
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;

    //Older browsers
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;

    //Newer browsers - masks
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }
  }
}
