.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
  }

  &__link:link,
  &__link:visited {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    color: var(--color-grey-light-1);
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }
}
