.user-nav {
  display: flex;

  &__icon-box {
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__user-notification {
  }

  &__photo-containter {
    height: 3.75rem;
  }

  &__user-photo {
    height: 100%;
    border-radius: 50%;
  }

  &__user-name {
  }
}
